<% content_for(:title, "Editar Rol: #{@rol.nombre}") %>

<h1 class="mb-4">Editar Rol: <%= @rol.nombre %></h1>

<div class="row">
  <div class="col-md-8 col-lg-6">
    <%= render "form" %>
  </div>
</div>
